---
title: Swing Trading Watchlist 9/14/14
date: 2014-09-15
tags:
  - Watchlists
---
I expect this week to be choppy because we have a Fed meeting and anticipation ahead of the Alibaba IPO may cause Chinese stocks to pause. While I don't know for certain how the market might react to the Fed's statements, I have the feeling that the SPX will stay rangebound in this area above the 50-day moving average. The market has probably baked in the possibility of a more hawkish Fed, so we probably won't have any major correction. But the market has been straight up since early August and it will need to stage for any meaningful advance. Being selective with your swing trades will be the key to profitability in a choppy market.

<%= partial 'image', locals: { filename: '2014/09/Screen-Shot-2014-09-14-at-4.18.52-PM.png', caption: ''} %>


CERS - Bull flagging with volume expansion. Friday's close was very strong. This looks ready to break higher.
<%= partial 'image', locals: { filename: '2014/09/Screen-Shot-2014-09-14-at-6.33.59-PM.png', caption: ''} %>


ETAK - Got this one from <a href="https://twitter.com/duckstocks" target="_blank">@duckstocks</a> on Twitter. Very similar setup to CERS.
<%= partial 'image', locals: { filename: '2014/09/Screen-Shot-2014-09-14-at-6.39.32-PM.png', caption: ''} %>


TFM - Flagging some more for a potential run to 38
<%= partial 'image', locals: { filename: '2014/09/Screen-Shot-2014-09-14-at-9.02.26-PM.png', caption: ''} %>


ECYT - Flagging for a potential run to the 200 day moving average zone.
<%= partial 'image', locals: { filename: '2014/09/Screen-Shot-2014-09-14-at-9.18.18-PM.png', caption: ''} %>


SPLK - Still flagging. Watch for a break of the high, 61.36.
<%= partial 'image', locals: { filename: '2014/09/Screen-Shot-2014-09-14-at-8.59.52-PM.png', caption: ''} %>


ATK - The chart is a little sloppy, but the announcement that this company plans to spin off its faster-growing sporting goods business could generate some speculative interest in the stock. The recent double bottom at 122 and curl up above the moving averages is bullish action. It may quickly get to 140, maybe 145.

<%= partial 'image', locals: { filename: '2014/09/Screen-Shot-2014-09-14-at-6.15.32-PM.png', caption: ''} %>


TUBE - Flagging for a potential move back to the 14's.
<%= partial 'image', locals: { filename: '2014/09/Screen-Shot-2014-09-14-at-9.07.21-PM.png', caption: ''} %>


ATHN (update) - This pullback to 135 is make or break. It could break back to the consolidation area here or become support and run higher. Given how exciting this stock is to investors in its space, I am long biased. You have a tight risk area for a lot of upside.
<%= partial 'image', locals: { filename: '2014/09/Screen-Shot-2014-09-14-at-6.26.07-PM.png', caption: ''} %>


CSLT (update) - Last week I was watching this for a flag break. If you were quick on Tuesday you would have been able to pick it up for a nice 10%+ gain. I missed this one myself. But notice how for most of the morning the flag breakout area became support and then it began its ascent? I still think this has a long way to run but will wait for the next setup.
<%= partial 'image', locals: { filename: '2014/09/Screen-Shot-2014-09-14-at-4.41.50-PM.png', caption: ''} %>


LRCX - This weekend's positive Barron's article may push this above resistance. But given it's already had a good run, I'm skeptical. It is worth watching for high-volume break above 73, but I would rather wait for a pullback and higher low before longing this.
<%= partial 'image', locals: { filename: '2014/09/Screen-Shot-2014-09-14-at-4.20.41-PM.png', caption: ''} %>


KORS (update) - Last week I suggested this one for a bounce. So far it's been a disappointment. I don't like how heavy it feels. Would rather wait for capitulation or some news to change the sentiment because this downtrend is just too strong.
<%= partial 'image', locals: { filename: '2014/09/Screen-Shot-2014-09-14-at-4.28.28-PM.png', caption: ''} %>


&nbsp;