---
title: Day Trading Watchlist for 10/1/14
date: 2014-10-01
tags:
  - Watchlists
---
I didn't post a watchlist yesterday to take a little break. I couldn't find any setups that looked appealing. I was disappointed in the watchlist that I posted for Monday because none of those stocks turned out to have any good trades. In trading, I think it's better to wait for only the best setups than to try finding patterns that are less than ideal. Forcing trades is how you lose money.

<hr />

EBAY - Nice gap up today on news that they are going to split Paypal off as a separate company. I think this could end up being the most hyped spinoff since YHOO/BABA, but it won't happen until next year. Until then, EBAY's got some ups and downs to go through. I think today's breakout could continue as a runaway gap, but the after hours action has me less optimistic. If EBAY opens weak tomorrow, it may have some good short setups. I'm neutral, looking for moves in either direction.
<%= partial 'image', locals: { filename: '2014/10/Screen-Shot-2014-09-30-at-11.32.22-PM.png', caption: ''} %>


TKMR - Ebola is back in the news with the first reported case within United States borders. This stock went nuts after hours. Tomorrow it may continue running, or cooler heads may prevail and we will see a fade off. Prepared for either scenario, or maybe even both.
<%= partial 'image', locals: { filename: '2014/10/Screen-Shot-2014-09-30-at-11.37.36-PM.png', caption: ''} %>


&nbsp;

JNS - Still very much in play, but it may be cooling off here. The breakout Friday morning was uncannily similar to the breakout in X from the previous week. Will the rest of the pattern play out similarly?
<%= partial 'image', locals: { filename: '2014/10/Screen-Shot-2014-09-30-at-11.42.20-PM.png', caption: ''} %>


Here's a comparison of JNS gap up day 1 vs X gap up day 1.

<%= partial 'image', locals: { filename: '2014/10/Screen-Shot-2014-09-30-at-11.53.29-PM.png', caption: ''} %>


<%= partial 'image', locals: { filename: '2014/10/Screen-Shot-2014-09-30-at-11.55.04-PM.png', caption: ''} %>


X started to break down and fill the gap after day 3. JNS will be on day 4 tomorrow. With the headline shock of Bill Gross's move fading off, it's very likely that JNS will fade into the gap until the fundamentals start to reflect the impact of any strategic changes.

<%= partial 'image', locals: { filename: '2014/10/Screen-Shot-2014-09-30-at-11.55.15-PM.png', caption: ''} %>


<%= partial 'image', locals: { filename: '2014/10/Screen-Shot-2014-09-30-at-11.55.24-PM.png', caption: ''} %>


&nbsp;

As always, I will be following my favorite momentum stocks: GPRO, MBLY, LOCO, CYBR, RWLK, BABA.

One more thing. <a title="Is now a good time to buy XIV?" href="http://www.greenspudtrades.com/2014/09/29/is-now-a-good-time-to-buy-xiv/">I recently made a post explaining how the XIV works.</a> The VIX has been hanging around a near term high at that 17 area. When it comes down, XIV should run back up to the mid 40's. It's also very close to the 200 day moving average and every time it's dipped there this year it bounced back up and resumed trend.

The risk is that if the VIX breaks out to 20, XIV could drop further into the low 30's. I think the current spike in the VIX is partly supported by the events going on in Hong Kong right now. Whether the VIX spikes higher or tops out here may be to a large extent dependent on what sort of resolution we get from China and how soon.

<%= partial 'image', locals: { filename: '2014/10/Screen-Shot-2014-10-01-at-12.09.09-AM.png', caption: ''} %>
 <%= partial 'image', locals: { filename: '2014/10/Screen-Shot-2014-10-01-at-12.09.03-AM.png', caption: ''} %>
<%= partial 'image', locals: { filename: '2014/10/Screen-Shot-2014-10-01-at-12.09.03-AM.png', caption: ''} %>


&nbsp;