---
title: Day Trading Watchlist for 10/21/14
date: 2014-10-21
tags:
  - Watchlists
---
I haven't been posting many watchlists lately because this market has been incredibly choppy and it has been difficult to come up with a nightly plan. I don't trust holding anything for a swing trade with the current level of volatility.

As pictured in the below chart, the S&amp;P500 broke down the 1900 level and completed a healthy 10% correction. Now today it's finally bounced back up to retest 1900. There is a good chance that 1900 will act as resistance and the market may need to chop here for a while before breaking to the upside once again.

<%= partial 'image', locals: { filename: '2014/10/Screen-Shot-2014-10-20-at-8.48.46-PM.png', caption: ''} %>


What makes me doubtful of a quick recovery is that this is the first time since 2011 that the S&amp;P 500 decisively breached the 200 day moving average. In past instances of such a strong breakdown, the 200DMA usually becomes resistance for a short period of time.

<%= partial 'image', locals: { filename: '2014/10/Screen-Shot-2014-10-20-at-8.55.54-PM.png', caption: ''} %>


&nbsp;
<h3>Stocks I'm Watching</h3>
Tomorrow I will be watching Ebola related names for action: LAKE, APT, VSR, NLNK, TKMR, CMRX. We seem to be on the back end of their parabolic moves, so I am short biased. The most interesting of these to me are LAKE and NLNK because they are still substantially propped up. APT seems more hard to borrow at my broker lately. While I think these have room to fall, I would wait for a nice pop and fade to establish a position.

<%= partial 'image', locals: { filename: '2014/10/Screen-Shot-2014-10-20-at-8.59.52-PM.png', caption: ''} %>
 <%= partial 'image', locals: { filename: '2014/10/Screen-Shot-2014-10-20-at-8.59.31-PM.png', caption: ''} %>


SCOK - This thing popped on some news that one of their plants have come online. Looks ready to fade again.

<%= partial 'image', locals: { filename: '2014/10/Screen-Shot-2014-10-20-at-10.10.14-PM.png', caption: ''} %>


VIMC - This thing popped on a contract win announcement. Making lower highs. On the daily chart this might be setting up for H&amp;S.

<%= partial 'image', locals: { filename: '2014/10/Screen-Shot-2014-10-20-at-10.11.23-PM.png', caption: ''} %>


FB - This thing ripped right back along with the market. If the market goes south tomorrow this should be good for short setups.

<%= partial 'image', locals: { filename: '2014/10/Screen-Shot-2014-10-20-at-10.13.37-PM.png', caption: ''} %>


YY - Only reason I'm following is that it's had nice range and intraday setups lately. Neutral on direction going into tomorrow.

<%= partial 'image', locals: { filename: '2014/10/Screen-Shot-2014-10-20-at-10.12.48-PM.png', caption: ''} %>


YELP - Another that I like to follow lately for big intraday range. Note that it has earnings on Wednesday.

<%= partial 'image', locals: { filename: '2014/10/Screen-Shot-2014-10-20-at-10.15.59-PM.png', caption: ''} %>


&nbsp;