---
title: Day Trading Watchlist for 9/19/14
date: 2014-09-19
tags:
  - Watchlists
---
Okay, so Friday is















 <span style="color: #00ccff; background-color: black;"><strong>The <span style="color: #ff0000;">Real</span> Alibaba</strong></span> IPO day. Apparently it was moved from 9/18 to 9/19.  YHOO had a big fade this morning. Hopefully we get something like that again when BABA opens for trading. The YHOO/BABA duo is my top watch.
<%= partial 'image', locals: { filename: '2014/09/Screen-Shot-2014-09-18-at-10.28.40-PM.png', caption: ''} %>


YELP - Looks like it's bear flagging on the daily. You've got both the 50-day and 200-day moving averages below, but this one seems to crisscross them a lot.
<%= partial 'image', locals: { filename: '2014/09/Screen-Shot-2014-09-18-at-10.33.02-PM.png', caption: ''} %>

<%= partial 'image', locals: { filename: '2014/09/Screen-Shot-2014-09-18-at-10.32.49-PM.png', caption: ''} %>


AOL - Intraday bull flag break. Rumors that it's a Yahoo! acquisition target.
<%= partial 'image', locals: { filename: '2014/09/Screen-Shot-2014-09-18-at-10.35.52-PM.png', caption: ''} %>


AVNR - Looking for another failed run to 13 and fade. I think this will peak out somewhere and settle a little lower like FOLD did. But be aware that it might do another push above 13 before it settles.
<%= partial 'image', locals: { filename: '2014/09/Screen-Shot-2014-09-18-at-10.37.44-PM.png', caption: ''} %>


TKMR - Acting like it wants higher.
<%= partial 'image', locals: { filename: '2014/09/Screen-Shot-2014-09-18-at-10.48.00-PM.png', caption: ''} %>


PAYX - Starting to break out of consolidation ahead of earnings. Swing trade idea.  Looking to get in on r/g.
<%= partial 'image', locals: { filename: '2014/09/Screen-Shot-2014-09-18-at-10.41.22-PM.png', caption: ''} %>


SCTY - This looks like it might be bear flagging similar to YELP.
<%= partial 'image', locals: { filename: '2014/09/Screen-Shot-2014-09-18-at-10.44.16-PM.png', caption: ''} %>
