---
title: Watchlist for 12/4/14
date: 2014-12-04
tags:
  - Watchlists
---
<h3>For Potential Day Trades</h3>
DGLY - I think this one is toast as the news cycle shifts. Interested in shorting pops. <%= partial 'image', locals: { filename: '2014/12/Screen-Shot-2014-12-03-at-11.53.14-PM.png', caption: ''} %>
 CYBR - Broke the downtrend, made a higher low. Watch out! It's back! Interested in bullish moves - r/g, ORB. <img class="alignnone size-medium wp-image-607" src="http://www.greenspudtrades.com/wp-content/uploads/2014/12/Screen-Shot-2014-12-03-at-11.52.37-PM-600x354.png" alt="Screen Shot 2014-12-03 at 11.52.37 PM" width="600" height="354" /> EA - Nice power candle today. But... chart looks a little overextended. Watching for s/s opportunities. <%= partial 'image', locals: { filename: '2014/12/Screen-Shot-2014-12-03-at-11.53.35-PM.png', caption: ''} %>

<h3>For Potential Day or Swing Trades</h3>
AVGO - Big earnings beat - this could be a breakaway gap.
<h3><%= partial 'image', locals: { filename: '2014/12/Screen-Shot-2014-12-03-at-11.53.51-PM.png', caption: ''} %>
</h3>
IRBT - Breaking out of the 200dma <%= partial 'image', locals: { filename: '2014/12/Screen-Shot-2014-12-03-at-11.54.03-PM.png', caption: ''} %>
 LULU - Retesting the 45 breakout area <%= partial 'image', locals: { filename: '2014/12/Screen-Shot-2014-12-03-at-11.56.59-PM.png', caption: ''} %>
 Z - Looks like its bull flagging. Risk to 110. <img class="alignnone size-medium wp-image-610" src="http://www.greenspudtrades.com/wp-content/uploads/2014/12/Screen-Shot-2014-12-03-at-11.54.20-PM-600x351.png" alt="Screen Shot 2014-12-03 at 11.54.20 PM" width="600" height="351" /> SFM - Didn't have any momentum today but still on watch. <%= partial 'image', locals: { filename: '2014/12/Screen-Shot-2014-12-03-at-11.54.42-PM.png', caption: ''} %>
 SKUL - Might be flagging. (Got this one from Michele at <a href="http://www.tradeonthefly.com" target="_blank">TradeOnTheFly</a>) <%= partial 'image', locals: { filename: '2014/12/Screen-Shot-2014-12-03-at-11.54.51-PM.png', caption: ''} %>
