---
title: Day Trading Watchlist for 9/15/14
date: 2014-09-15
tags:
  - Watchlists
---
EBAY - Had some intense bullish action on Friday. Looking for some more bullish setups tomorrow. Remember the hit this thing took last week mainly happened in conjunction with Apple's announcement that they are building a new Paypal like service. Once that news is forgotten the EBAY bulls will be back. A Paypal spinoff will be huge for EBAY stock.
<%= partial 'image', locals: { filename: '2014/09/Screen-Shot-2014-09-14-at-10.22.35-PM.png', caption: ''} %>


CMCM - Mid-26 seems to be holding up as support, but this thing has had a good run from the teens not too long ago, and last Tuesday a potential bull flag breakout failed. If 26 breaks down we could get some good momentum on the short side.
<%= partial 'image', locals: { filename: '2014/09/Screen-Shot-2014-09-14-at-10.25.28-PM.png', caption: ''} %>


YHOO - This stock is <strong><span style="color: #ff6600;">hot</span></strong> because of the Alibaba spinoff coming this week. Watching for bull flags to long.
<%= partial 'image', locals: { filename: '2014/09/Screen-Shot-2014-09-14-at-10.29.30-PM.png', caption: ''} %>


CGA - This stock ripped after a positive earnings report on Friday. It has potential for more squeezes. Use 2.60 as a guide for risk.
<%= partial 'image', locals: { filename: '2014/09/Screen-Shot-2014-09-14-at-10.33.06-PM.png', caption: ''} %>


NETE - Another squeeze play from last week. Driven by the potential for this to be a mobile payments play. Have 2 plans for trading this one - a plan in case it looks like its going to squeeze higher, and a plan for weakness and eventual fade. Be careful with the latter... these types of stocks have been trapping the shorts lately.
<%= partial 'image', locals: { filename: '2014/09/Screen-Shot-2014-09-14-at-10.34.52-PM.png', caption: ''} %>


SCOK - The pops on this one have been getting sold, so it might finally be ready to fade off. But like NETE, use extra caution.
<%= partial 'image', locals: { filename: '2014/09/Screen-Shot-2014-09-14-at-10.38.29-PM.png', caption: ''} %>


WB - Nice big pop on Thursday, but maybe too much too fast. Good chance it comes back to retest the breakout area with an opportunity to short on the way down.
<%= partial 'image', locals: { filename: '2014/09/Screen-Shot-2014-09-14-at-10.49.08-PM.png', caption: ''} %>


GPRO, LOCO, MBLY - I just like these stocks because they are in play. All 3 are recent IPOs and have had a monster run over the past week. Looking for signs of weakness to short.

DGLY, VII, ISNS, MAGS - All of these are security plays that rallied along with the Ferguson, MO riots and media talk about equipping police with personal cameras. They have pulled back quite a bit from the highs and some are at their short term daily moving averages. I think TASR is the only name in this space that has credibility with institutional investors, so I think there is a good chance that these second-tier names break down further as the retail momentum traders move on to other exciting plays.