---
title: Day Trading Watchlist for 9/16/14
date: 2014-09-16
tags:
  - Watchlists
---
Today had shades of March-May when the small cap stocks tumbled but the overall market held steady. The Russell 2000 was down over 1% with very little bounce while the S&amp;P500 ended the day relatively unchanged. That's not a good divergence for bullish momentum traders.



















 <%= partial 'image', locals: { filename: '2014/09/Screen-Shot-2014-09-15-at-10.22.16-PM.png', caption: ''} %>
 <%= partial 'image', locals: { filename: '2014/09/Screen-Shot-2014-09-15-at-10.22.42-PM.png', caption: ''} %>


Most of my trades today were alright, with the exception of AVNR, which I completely botched out of boredom trading. At one point around noon it looked a little heavy and I went short anticipating a washout. What happened instead is that I ended up getting squeezed out. It made me think, "This stock must actually still be strong and trending up! I'm going to go long!" So I did go long anticipating what looked like a flag break. And just then the stock pulled back a good 30 cents and I stopped out on the long side. <%= partial 'image', locals: { filename: '2014/09/Screen-Shot-2014-09-15-at-10.29.07-PM.png', caption: ''} %>


This reinforces a few important personal rules I have about intraday trading.
<ol>
	<li>If you think the stock is heavy and go short in anticipation of a washout - the absence of that washout is a strong signal that the stock is still strong and trending up. In my case my s/s entry was 10.84, and I spent a few minutes waiting for this thing to snap. Instead the opposite happened. It started grinding up and I stopped out in the low 10.90's. Luckily I missed most of the squeeze. But it shows that if you think the stock is weak and it only washes a little bit, grinds up, or just holds the line - you had better start reconsidering your plan before you incur a significant loss.</li>
	<li>Don't short a strong stock on the first day. AVNR was going gangbusters today. When it did have a pullback around 12:30pm, it was very short lived and the up trend continued. You're probably going to have better luck playing a stock like this long.</li>
	<li>Avoid trading between 11am and 2pm unless you've got a really good setup. Things start to slow down after 11am, and the lower volume could cause more erratic moves in price. Even a very active stock may have sudden drops, or mini short squeezes. Trends in the middle of the day are weaker and setups are less reliable.</li>
</ol>
AVNR is one on my day trade watchlist. It was strong all day and could easily squeeze more tomorrow. Blue skies above 13.09. <%= partial 'image', locals: { filename: '2014/09/Screen-Shot-2014-09-15-at-10.55.15-PM.png', caption: ''} %>


RWLK - This IPO was just plain nutty! 12 to 43? It finally started showing some weakness in the afternoon today. If you could find some shares to short, it might be a money maker tomorrow. Otherwise, it's got incredible range and may have more good setups on the long side as well. <%= partial 'image', locals: { filename: '2014/09/Screen-Shot-2014-09-15-at-10.57.04-PM.png', caption: ''} %>


PBR - This stock is hammered! But if you bought the dips below the 50 day moving average the last 3 times you would have come out ahead. Looking for signs of bottom. Risk to 16. <%= partial 'image', locals: { filename: '2014/09/Screen-Shot-2014-09-15-at-11.00.58-PM.png', caption: ''} %>


OTIV - This stock is a potential beneficiary of Apple's new payments system. The fundamentals may not warrant a complete fade back to it's breakout area, but this stock has had a good run. It may pull back some from here. <%= partial 'image', locals: { filename: '2014/09/Screen-Shot-2014-09-15-at-10.17.29-PM.png', caption: ''} %>


RCPT - Nice run over the last few days. Looking for either a pullback or red to green. <%= partial 'image', locals: { filename: '2014/09/Screen-Shot-2014-09-15-at-11.05.50-PM.png', caption: ''} %>


FSLR - Had some signs of stalling today. If the Russell 2000 remains weak, this could pull back into the mid 60s. <%= partial 'image', locals: { filename: '2014/09/Screen-Shot-2014-09-15-at-11.07.26-PM.png', caption: ''} %>


TSLA - This was down 9% today after negative comments from Morgan Stanley. If we are going to see more pullbacks in the small cap stocks like we did earlier this year, this could be the beginning of a bigger drop in TSLA. Stocks like this tend to be very strong in one direction or the other. <%= partial 'image', locals: { filename: '2014/09/Screen-Shot-2014-09-15-at-11.09.13-PM.png', caption: ''} %>
