---
title: Breaking the Habit of Bag Holding
date: 2014-12-09
tags:
  - Trading 101
---
&nbsp;
<blockquote>It is difficult to imagine a situation better designed to create frustration. Markets produce large moves more often than would be expected if returns were distributed normally, which leads traders to seek large, trending moves. But markets also revert to mean returns more often than we would expect in normal distributions, creating many false trends. -- Brett Steenbarger, The Daily Trading Coach</blockquote>
<%= partial 'image', locals: { filename: '2014/12/Screen-Shot-2014-12-08-at-11.10.53-PM.png', caption: ''} %>


Several weeks ago I published a <a title="Four Tricks to Be More Confident in Using Stop Losses" href="http://www.greenspudtrades.com/2014/10/22/four-tricks-to-be-more-confident-in-using-stop-losses/">3-part series</a> in which I examined the importance of using stops on every trade and strictly enforcing them as good risk management. The articles were inspired by a small number of October trades which wiped out a significant portion of my year's gains simply because I allowed the losses to get out of control.

After writing that article, I thought my problems with squishy stops were done. But in reviewing my list of biggest losing trades from November, I discovered that bad risk management habits persisted. While my risk management for the month was generally good and I raked in an amount of profit I could be happy with, there were a few trades where my control over losses got terribly out of hand and it wiped out the entire month of November's gains.

<%= partial 'image', locals: { filename: '2014/12/Screen-Shot-2014-12-08-at-10.52.31-PM.png', caption: ''} %>


I pulled up the top 12 biggest losing trades of the month and quickly discovered that 7 of them had much wider losses than my initial exit plan simply because I did not cut off losses as soon as I intended.  <em>Due to poor stop executions alone</em>, I bled off an unnecessary $1,888 in my most costly losing trades. <em>The failure to rigidly follow through on stops turned a good month from green to red</em>.

<%= partial 'image', locals: { filename: '2014/12/Screen-Shot-2014-12-08-at-11.17.20-PM.png', caption: ''} %>


But the damage did not stop there. The month of November was over and I still had 3 incredibly bad open swing trades: HAL, FUEL, and GOGO. In each one of these trades I ignored my original risk plan and began treating them as long term investments.

Since writing my blog series on stops, I thought my problem of bad stop executions was done. But for some reason, I regressed unto those bad habits several times in the month of November. Why did I keep making this same mistake even though I know how badly it hurts my P&amp;L? I carefully reviewed my trading journal to get a better sense of what my thought process was when I allowed those trades to get out of hand. I found two major themes in my psychology on these trades which was causing me to break the rules.

<strong>1. Extreme overconfidence was causing me to override the risk plan. </strong>The commonality I found was that in each case of poor stop execution, I had an unusually high conviction in the trade idea and my desire to see the idea work overrided prudent risk management. Here are some specifics:

TEX: The chart had a setup that I liked so much I became overconfident it would do what I expected. When my stop alert was triggered being right became more important than listening to what the price action was telling me. I lowered the stop, not thinking that I was doubling the amount of risk exposure.

<%= partial 'image', locals: { filename: '2014/12/Screen-Shot-2014-12-08-at-11.34.06-PM.png', caption: ''} %>


MBLY: This stock was so strong in the weeks before that I was in denial that it would be shunned so viciously when it started to pull back. When they came out with an earnings report and it appeared that the stock would break out of a downtrend, I stubbornly resisted a logical stop out point on the intraday chart. When that support broke down I was flustered. I did not have an automatic order in place, so I allowed the stock to continue declining while I deliberated on what to do.

<%= partial 'image', locals: { filename: '2014/12/Screen-Shot-2014-12-08-at-11.36.15-PM.png', caption: ''} %>


W: The company had an earnings beat. When the chart acted weak I allowed myself to get biased on the fundamentals. Rather than decisively cutting off the trade I waited, wondering how could it continue to fall in spite of the news.

<%= partial 'image', locals: { filename: '2014/12/Screen-Shot-2014-12-08-at-11.37.57-PM.png', caption: ''} %>


<strong>2. The "old" me was turning trades into long term investments. </strong>The worst offenders seemed to be stocks where I had a strong belief in the long term fundamentals. For example with HAL - this one triggered my stop at 47.5 and I initially stopped out according to plan. But because I like the company (it's been an infallible long term investment), I bought it back a day later for 0.30 lower. It continued to slide another 7 points from the initial 5 that I risked.

I think I keep hanging on to these duds like HAL because that's what worked for me in the past. For the last 10 years I participated in the stock market by long term investments. My strategy was pretty much what most retail investors do.  I bought stocks I liked and forgot about them. This worked well for a long time because we were in a bull market, I had a little luck, and I had generally good intuition about which stocks would be best for long term growth. My risk tolerance was different, too. I had a well paying day job at the time and was willing to take the punches from volatility because I believed in the long term story. Now, my strategy is different - I want more efficient use of my capital. I'm looking to move my account forward for much more substantial capital appreciation than could be gained by passive investing. Sitting on a stocks like HAL and enduring large drawdowns directly conflicts with the new kind of trader I want to be.

<strong>Final Word - Keeping a Detailed Trade Journal Helps! </strong>

In reviewing last month's trades I learned of a terrible vice that is causing a problem for my trading success. I've already done the research to know how this bad habit of squishy stops hurts my performance, yet I still can't break the habit. I guess bad trading habits are no different from other unhealthy life behaviors like smoking. Through careful review of my detailed trading journal, I'm able to identify where this problem occurs, and hopefully this knowledge will allow me to instill better habits by stopping myself when that stinkin thinkin appears.