---
title: Watchlist for 1/13/15 and Market Commentary
date: 2015-01-13
tags:
  - Market Commentary &amp; Analysis
  - Watchlists
---
I'm really gun shy about taking on bullish swing trades in this market. Both the Russell 2000 and S&amp;P 500 index are forming what appear to be diamond top technical patterns. On the fundamentals side, there are many concerns under the surface:
<ul>
	<li>The Fed is putting an end to cheap money policy</li>
	<li>Overseas growth is slowing, yet earnings expectations remain generally optimistic</li>
	<li>The rise in the dollar will have consequences for US companies dependent on overseas business</li>
	<li>The fallout from precipitous commodity prices, in particular oil, has yet to be understood</li>
</ul>
The bottomless drop in oil has consequences we have yet to see. Many oil and gas companies are highly levered and a prolonged drop in the price of oil is likely to have cascading effects. We could see a wave of bankruptcies in the oil &amp; gas sector much like we did in 2008 when the slowing housing market caused leveraged mortgage lenders to go under.

Looking at the technicals, here are charts of the SPY depicting the diamond top we are about to exit. I've also found that the last major correction we had in 2011 coincided with a very similar pattern of a higher high followed by an immediate higher low. Could an engineered crisis be in the works?

<%= partial 'image', locals: { filename: '2015/01/Screen-Shot-2015-01-12-at-6.26.43-PM.png', caption: 'SPY chart as of 1/12/15'} %>


<%= partial 'image', locals: { filename: '2015/01/Screen-Shot-2015-01-12-at-7.33.33-PM.png', caption: 'Shows both the current diamond top and the 2011 top.'} %>


We also see a very similar pattern in the Russell 2000 index.

<%= partial 'image', locals: { filename: '2015/01/Screen-Shot-2015-01-12-at-7.53.14-PM.png', caption: ''} %>


Furthermore, the behavior of the VIX has me concerned. Normally the VIX spikes and quickly retreats, but that has not been the case since November. VIX has been <strong><em>trending</em></strong> higher. Have a look at my <a title="The Dangers of Swing Trading XIV" href="http://www.greenspudtrades.com/2015/01/02/the-dangers-of-swing-trading-xiv/">most recent post about the XIV</a> and you will see that the behavior of volatility has significantly changed since the official end of QE3. These changes in the market lead me to believe that something may be brewing.

<%= partial 'image', locals: { filename: '2015/01/Screen-Shot-2015-01-12-at-7.58.54-PM.png', caption: ''} %>


<strong>Watchlist for 1/13/15 </strong>

EYES - This was up on regulatory approval news in Canada. 11.80's been resistance and it looks like its retesting that area right now. This is one of the few longs that I like right now and would be willing to take any intraday pattern of dips/higher lows, or swing trade it using the 1/12 LOD as a risk. It's got a volume pocket just above at 12.50 so should be smooth sailing to 13.50, maybe to 15.

<%= partial 'image', locals: { filename: '2015/01/Screen-Shot-2015-01-12-at-9.32.34-PM.png', caption: ''} %>


KITE - This one is a consistent squeezer. Could still push some more.

<%= partial 'image', locals: { filename: '2015/01/Screen-Shot-2015-01-13-at-7.58.43-AM.png', caption: ''} %>


JUNO - Another power candle day. Quiet period expires Tuesday. Long biased on this one.

<%= partial 'image', locals: { filename: '2015/01/Screen-Shot-2015-01-12-at-9.37.22-PM.png', caption: ''} %>


FMI - Up on news of a collaboration agreement with Roche. It held the lows and flatlined for most of the day. Hard to tell if this will continue to fade or if 46 will act as a base and it will grind up from here. Will be reactive to how this one trades.

<%= partial 'image', locals: { filename: '2015/01/Screen-Shot-2015-01-12-at-9.43.31-PM.png', caption: ''} %>


TASR - Looks like it set a lower high at 26.6. Watching closely how it behaves around 25.5. <span style="color: #393939;">If 25.5 snaps and becomes resistance, could easily see 22's.</span>

<%= partial 'image', locals: { filename: '2015/01/Screen-Shot-2015-01-12-at-6.32.52-PM.png', caption: ''} %>


BBW - Coming off of a a breakout to 52's and nice consolidation, long biased if 21.25 holds as support. Could be good for swing trade.

<%= partial 'image', locals: { filename: '2015/01/Screen-Shot-2015-01-13-at-8.02.34-AM.png', caption: ''} %>


&nbsp;

&nbsp;