---
title: How to Trade Breakout Remount Setups
date: 2015-03-30
tags:
  - Trading 101
---
<%= partial 'image', locals: { filename: '2015/03/mike_bellafiore.png', caption: ''} %>


This is part two of a series of trade setups I'm examining in greater detail. In the last piece, I focused on the <a title="How to Play the Breakaway Gap Setup" href="http://www.greenspudtrades.com/2015/02/24/how-to-play-the-breakaway-gap-setup/">breakaway gap</a> setup. In this blog article, we will examine a closely related trade setup called a "remount". A remount happens when a stock price breaks out of consolidation to a new trading range but initially fails, pulling back to make a higher low before following through with the real breakout.

Here is a recent example. LQ came out with a positive earnings report and looked like it was going to break out through all time highs. However, it hit resistance at 23 and sharply pulled back. It consolidated in the mid 22's for several days before resuming its breakout, clearing the 24's.

<%= partial 'image', locals: { filename: '2015/03/Screen-Shot-2015-03-29-at-11.36.15-PM.png', caption: ''} %>


<b>Gap Up Remount vs. Retest of the Breakout Area</b>

In my writings, I am going to break down remount setups into two categories. The first category happens in conjunction with some news such as an earnings release. The stock gaps up during the premarket, possibly opening higher than the previous day's high. It looks like a potential breakaway gap setup but then fails and has to remount before moving higher. I call this scenario the <strong>gap up remount </strong>because a gap up is involved, which means it usually follows a failed breakaway gap setup. The area of support that it finds is usually near the price it gapped up from or a new level of resistance/support created on the first day.

<%= partial 'image', locals: { filename: '2015/03/Screen-Shot-2015-03-30-at-12.07.09-AM.png', caption: ''} %>


&nbsp;

<%= partial 'image', locals: { filename: '2015/03/Screen-Shot-2015-03-30-at-12.10.21-AM.png', caption: ''} %>


Note that not every gap up remount necessarily stems from a <em>failed</em> breakaway gap up. In many cases such as KR you can have a successful run in the gap, but then several days later profit taking brings it back to a support area from days prior in which you can go long. KR initially had a nice breakaway gap from 73 to the upper 70's in which you could have taken profits if you went long on day 1. The remount gives you a second opportunity.

<%= partial 'image', locals: { filename: '2015/03/Screen-Shot-2015-03-30-at-8.47.15-AM.png', caption: ''} %>


The second variation I call a <strong>breakout remount</strong> or <strong>breakout retest</strong>. This happens in the absence of big news or significant premarket gap. It's just a stock that's been sitting flat for a while that starts to make a move out of an area of consolidation. Such moves usually zig zag higher, coming back to the previous area of resistance or just below it on day 2 or 3 of the run.

<%= partial 'image', locals: { filename: '2015/03/Screen-Shot-2015-03-30-at-12.14.37-AM.png', caption: ''} %>


The main difference between the gap up remount and the breakout retest is that one is news driven while the other is not. The breakout retest setup may also be a characteristic of other setups such as a <strong>bull triangle</strong>. The longer the stock consolidates in a range prior to the breakout, the more powerful the breakout usually is.

<strong>Time Frame &amp; Patience</strong>

With the breakway gap setup, you can often take substantial profits on the first day. Remounts move more slowly. It takes time for the price to find support and therefore I recommend spotting this setup only on the 5min, 15min, or 1hr charts.

Some remounts happen quickly (in a relative sense), bouncing back to the ATH after only several days. Others may linger and the previous area of support for several weeks before making the up move. This kind of setup moves slowly - it's pretty much a swing trade only. However, it seems to be fairly reliable with a very good risk/reward if you are patient enough to avoid the mistake of taking profits too early.

<strong>Changes to My Posting of Ideas</strong>

I've been trying to get more methodical with the way I use Stocktwits and post to this blog. If you noticed, I've been using hashtags lately to denote the setup I see. This past several weeks I've also taken a hiatus from posting watchlists as I've only been focusing on the breakaway gap setups which I scan for primarily in the premarket of the trading day. I'll be back to regular posting of watchlists soon with better explanations around the setups I'm looking to play.